/* Geral */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f5;
  color: #333;
}

/* Header */
header {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 60px 20px;
  animation: slideDown 1s ease-out;
}

header h1 {
  font-size: 48px;
  margin: 0;
}

header p {
  font-size: 20px;
  margin-top: 10px;
}

/* Seções */
.bloco {
  padding: 80px 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: rgb(223, 19, 19);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(30px);
  animation: fadeIn 1s ease-out forwards;
}

.bloco h2 {
  color: #f0f0f5;
  text-align: center;
}
.bloco p {
  color: #f0f0f5;
  text-align: justify;
}

/* Animações */
@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Delays */
#sobre {
  animation-delay: 0.3s;
}
#impacto {
  animation-delay: 0.6s;
}
#final {
  animation-delay: 0.9s;
  animation-fill-mode: forwards; /* Garante que a animação fique visível após rodar */
}

/* Responsividade */
@media (max-width: 600px) {
  header h1 {
    font-size: 32px;
  }

  header p {
    font-size: 16px;
  }

  .bloco {
    padding: 40px 15px;
    width: 90%;
    
  }
#final{
  width: 50%;
  margin-bottom: 300px;

}
#sobre{ width: 50%;

}
  #impacto{
    width: 50%;
  
  }
}

